h1 {
    color: black;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: wavy underline plum;
    text-transform: uppercase;
}

li {
    color: blue;
}

.done {
    color: grey;
}

#clear{
    background: red;
    color: white;
}

button:hover {
    background-color: #d62828;
    color: #f77f00;
}

button:active {
    background-color: #003049;
}